body {
    background-color: #000;
    color: #fff;
    font-family: arial;
    max-width: 990px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: auto 0;
}

li {
    display: inline-block;
    float: left;
    margin: 5px;
    background: white;
    border-radius: 4px;
    padding: 5px;
}
li span{display: block;}