<!-- We are using remove-user-functionality directive to inject remove function into scope -->
<table remove-user-functionality>
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="user.name" /></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="text" ng-model="user.age" /></td>
    </tr>
    <tr>
        <td><input type="button" value="Cancel" ng-click="cancel()"/></td>
        <td><input type="button" value="Update" ng-click="update()"/></td>
        <td><input type="button" value="Remove" ng-click="remove(user.id)" /></td>
        <!--
        Here remove function is not define into EditUserController, its injected by
        remove-user-functionality directive.
        -->
    </tr>
</table>