body {
    background-color: #000;
    color: #fff;
    font-family: arial;
    padding: 0 35px 0 35px;
}

body div.suspectList ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    display: inline-block;
    height: 192px;
}

body div.suspectList ul li {
    display: inline-block;
    margin: 5px 10px;
    background: white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

body div.suspectList ul li span {
    display: block;
    color: #000000;
}

body div.suspectList ul:hover li {
    opacity: 0.5;
}

body div.suspectList ul li:hover {
    opacity: 1;
}

body div.suspectList {
    text-align: center;
}

body div.buttons {
    float: right;
}

body div.buttons input.reset {
    background: #ccc;
    height: 30px;
    width: 70px;
    border: 0;
    margin-right: 5px;
}

body div.buttons input.saveButton {
    height: 30px;
    width: 70px;
    border: 0;
    background: cornflowerblue
}

hr {
    height: 2px;
    background: #ffffff;
}